html {
  background-color: black;
  }
div {
    background-color: black;
  }
body {
    background-color: hsl(0, 0%, 0%);
  }
h1 {
    color: rgb(91, 72, 173);
    font-family: Courier New;
  }
label {
    color:rgb(168, 158, 214); 
  }
p {
  font-family: Courier New;
  font-size: x-large;
  }
