html {
  background-color: black;
  }
div {
    background-color: black;
  }
body {
    background-color: hsl(0, 0%, 0%);
  }
h1 {color: rgb(91, 72, 173);
    font-family: Courier New;      
    }
h2 {
    color: rgb(91, 72, 173);
    font-family: Courier New;
}

label {
    color:rgb(168, 158, 214); 
    font-family: Courier New;
  }
p {
  font-family: Courier New;
  font-size: x-large;
  }
  button {width: 250px;
     }
  .nav {
    font-family:sans-serif;
    font-size: large;
  }
  .nav.navbar.justify-content-end li a {
    color:rgb(168, 158, 214);
  }
  .nav.navbar.justify-content-end li a:hover {
    color: #5110b9;
  }
  .row {
    animation: transitionIn 0.90s;
  }
  @keyframes transitionIn {
    from {
      opacity: 0;
      transform: rotateX(-10deg);
    }
    to {
      opacity: 1;
      transform: rotateX(0);
    }
  }
  .separator--line{
    border: 0;
    border-bottom: 3px solid
    rgb(168, 158, 214);
    width: 0;
    -webkit-animation: separator-width 1s ease-out forwards;
    animation: separator-width 1s ease-out forwards;
  }
  @-webkit-keyframes separator-width{
    0%{
      width: 20;
    }
    100%{
      width: 60%;
    }
  }
  .separator--line1{
    border: 0;
    border-bottom: 3px solid
    rgb(168, 158, 214);
    width: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: separator-width 1s ease-out forwards;
    animation: separator-width 1s ease-out forwards;
  }
  @-webkit-keyframes separator-width{
    0%{
      width: 0;
    }
    100%{
      width: 100%;
    }
  }
  .separator--line2{
    border: 0;
    border-bottom: 3px solid
    rgb(168, 158, 214);
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: separator-width 1s ease-out forwards;
    animation: separator-width 1s ease-out forwards;
  }
  @-webkit-keyframes separator-width{
    0%{
      width: 0%;
    }
    100%{
      width: 60%;
    }
  }